.heading{
    color: red;
}
.img{
    width: 200px;
    height: 200px;
}

body{
    background-color: yellowgreen;
}

.card{
    border: 2px solid black;
    margin: 10px;
    padding: 2px;
    width: 203px;
    border-radius: 2px;
    box-shadow: 1px 1px 3px 1px blue;
}
.text{
    text-align: center;
    text-decoration: line-through;
    text-transform: uppercase;
}