.header {
    background-color: #dac6d5;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

body{
    margin: 0;
    padding: 0;
}

.header ul{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style: none;
    width: 500px;
}
.header .link h2{
    margin: 0;
}
.header .link{
    text-decoration: none;
    font-size: 20px;
}

.college .link{
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    /* justify-content: space-between; */
}


.active{
    font-weight: 800;
    color: darkred;
}

.custome-active{
    font-weight: 800;
    color: black;
}