.header {
    background-color: #bb8ab0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

body{
    margin: 0;
    padding: 0;
}

.header ul{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    list-style: none;
    width: 200px;
}
/* .header ul li{
    padding: 10px;
} */
.header .link h2{
    margin: 0;
}
.header .link{
    text-decoration: none;
    font-size: 20px;
}